//- Colors
$green:                     #51D2B7;
$red:                       #E6614F;
$blue:						#3f9dcc;

$gray-lt:                   #F7F7F7;
$gray:                      #BDC2CA;
$gray-md:                   #EDEDED;
$gray-dk:                   #2A2D33;

$search-button:				#C5C9D1;
$post-button:				#373a3f;
$settings-button:			#b9b9b9;
$top-icons-back:			#fafafa;
$top-icons:					#848484;

$sidenav-list-color:		#A5A5A7;
$sidenav-icon-color:		#686B73;
$sidenav-menu-close-back:	#464b57;
$sidenav-hover:				#656c7e;
$sidenav-arrow:				#EDEEEF;
$side-nav-right-divider:	#acadaf;
$brand-primary:				$gray;
$link-active: 				white;

$sidenav-right-icon:		#989ba2;
$sidenav-right-text:		#4b4d51;
$side-nav-right-divider:	#929395;

$secondary-title:			#7D7E80;

$media-post-name:			#5d5f63;
$media-post-time:			#c1c1c1;
$media-post-body:			#727375;
$attachment-info:			#3c3f44;
$attachment-size:			#b5b6b7;
$comment-name:				#2d3036;